.history-list{
  margin: 1rem;
  background-color: #fff;
}

.history-list > .ant-spin-nested-loading > .ant-spin-container > .ant-list-items{
  display: flex;
  flex-direction: column !important;
}

.history-list .ant-list-item{
  justify-content: center;
}