.inventory-container{
  padding-top: 80px;
  padding-bottom: 60px;
}
.modal-btn{
  position: fixed;
  bottom: 1rem;
  left: 45%;
}

.delete-container{
  display: flex;
  justify-content: center;
}

.controls-container{
  display: flex;
  justify-content: center;
}

.controls-container > div{
  width:600px;
  max-width: 600px;
}

.controls-container > div > span{
  margin: 1rem 0 1rem 0;
}

