*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container{
  padding-top: 80px;
  background-color: rgba(245, 243, 243, 0.74);
}

footer{
  text-align: center;
  padding: 1rem 0;
}
/* background-image: linear-gradient(to bottom right, #a2a27d, beige) */