.update-card-body {
  display: flex;
  flex-direction: column;
}

.update-card-body>.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > .column {
  display: flex;
  width: 33%;
}

.start {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}

.delete-container{
  display: flex;
  justify-content: space-between;
}

.column > .button-container{
  display: flex;
}

.update-card {
  min-width: 325px;
}

.ant-row > div {
  min-width: 325px;
}

.update-card-input{
  max-width: 90.5px;
}

@media only screen and (min-width: 767px) {
  .ant-row{
    flex-flow: row wrap;
    justify-content: space-around;
  }
}